.nav {
    background-color: $color-greygreen-dark !important;

    &__title {
        color: $color-white !important;
        font-weight: bold;
    }

    &-link {
        color: $color-secondary !important;
        font-weight: bold;

        &:hover {
            color: $color-secondary-light;
            box-shadow: 3px 3px 10px rgba($color-black, 0.5);
        }
    }
}

.navbar-toggler {
    background-color: $color-secondary;
}