body {
    background-color: $color-greygreen-light;
}

*:focus {
    outline: none !important;
    border: none !important;
}

main {
    padding: 3rem;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 70%;
    }
}
