$color-primary-light: #6cdf94;
$color-primary: #118C4F;
$color-primary-dark: #689568;

$color-secondary-light: #f3c70d;
$color-secondary: #e9ad03;
$color-secondary-dark: #d9a760;

$color-grey-light: #797;
$color-grey: #454;
$color-grey-dark: #232;