{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table-standard card">
        <thead>
            <tr>
                <th>Transaction type</th>
                <th>Company</th>
                <th>Price per share</th>
                <th>Number of shares</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["type"] }}</td>
                    <td>{{ transaction["company"] }}</td>
                    <td>{{ transaction["transaction_price"] }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction["date"] }}</td>
                    <td>{{ transaction["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}