{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="username" autocomplete="off" name="username" id="username" autocomplete="off">
        <label for="password">Password</label>
        <input type="password" autocomplete="off" name="password" id="password">
        <label for="confirmation">Confirmation</label>
        <input type="password" autocomplete="off" name="confirmation" id="confirmation">
        <button>Register</button>
    </form>
{% endblock %}

