{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method ="POST" class="form-standard">
        <label for="symbol">Symbol</label>
        <select name="symbol" id="symbol">
            {% for symbol in symbols %}
                <option value="{{ symbol['company'] }}">{{ symbol["company"] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="shares">Quantity</label>
        <input type="text" autocomplete="off" name="shares" id="shares">
        <br>
        <button>Sell</button>
    </form>
{% endblock %}